<!DOCTYPE HTML>
<html>

    <head>
        <title>スプリングブートで始まるウェブサービス</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" herf="https://stackpath.bootstrapcdn.com/4.3.1/css/bootstrap.min.css">
    </head>
</html>