{{>layout/header}}
<div>
    <h1>Creative virtural</h1>
</div>

<div class="jumbotron text-left">
    <h1>Creative Vurtural</h1>
    <p class="lead">유니티를 공부하고 최종적으로 VR개발자가 되는 그날까지</p>
</div>





{{>layout/footer}}